/* index.css */

/* Reset */

html {
  font-size: 13px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

/* Make media responsive */

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* Buttons and inputs inherit the font */

button,
input,
textarea,
select {
  font: inherit;
}

p {
  line-height: 1.5;
  text-align: justify;
}